* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Paytone One', sans-serif;
  height: 100vh;
  max-height: 100vh;
  background: url("../img/background-dots-red.png") repeat;
}

section {
  display: flex;
}

.background-arrow {
  background: url("../img/background-arrow.svg") no-repeat ; 
  background-position: top right;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-size: 14px;
  width: 60%;
}

.btn {
  background: #EA575E;
  padding: 1.5rem 7.5rem;
  border-radius: 10rem;
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
  font-family: 'Paytone One', sans-serif;
  display: block;
  transition: all .1s;
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  margin-top: 7rem;
}

.btn:hover {
  background-color: #ee777b;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

section div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 40%;
  max-height: 100vh;
}


section h1 {
  color: #EA575E;
  font-size: 18.5rem;
  padding: 0 2rem 0 1rem;
  font-weight: normal;
}

section p {
  color: #fff;
  font-size: 4em;
  line-height: 6.5rem;
  padding: 0 2rem 0 1rem;
}

img {
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .background-arrow {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1400px) {
  .background-arrow {
    font-size: 10px;
  }
}


@media only screen and (max-width: 1100px) {
  .background-arrow {
    font-size: 8px;
  }
}

@media only screen and (max-width: 1000) {
  .background-arrow {
    font-size: 6px;
  }
}