  
  .hide-full {
    display: none;
  }

@media only screen and (max-width: 1200px) {
  
  * {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .hide-full {
    display: initial;
  }
}