* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1.5rem 0;
  font-family: 'Roboto', sans-serif;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  width: 120px;
  margin-bottom: 10px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #283846;
  margin-right: 3rem;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li:last-child a {
  margin-right: 0;
}

.highlight {
  color: #EA575E;
  transition: all .3s;
}


.highlight:hover {
  color: #ee777b;
}

.container {
  margin: 0 auto;
  width: 1300px;
}

.hide-full {
  display: none;
}

main {
  background-color: #f5f5f5;
}

.info h1 {
  font-size: 3.125rem;
  color: #283846;
  font-family: 'Paytone One', sans-serif;
  padding-top: 3.5rem;
  width: 500px;
}

.info p {
  color: #40AEC1;
  font-size: 1.25rem;
  margin-top: 3.5rem;
  width: 444px;
  line-height: 2.5rem;
}

.think-guy {
  display: flex;
}

.call-to-action {
  display: flex;
  flex-direction: row;
}  

section.image {
  margin-top: 2rem;
  text-align: center;
}

section.image img {
  width: 110%;
  padding: 0 1rem;
}


.btn {
  background: #EA575E;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
  font-family: 'Paytone One', sans-serif;
  display: block;
  transition: all .1s;
  text-align: center;
  display: inline-block;
  font-size: 0.875rem;
}

.btn:hover {
  background: #ee777b;
}

.btn-start {
  margin-top: 5rem;
}

.btn-card {
  margin-top: 4rem;
  margin-bottom: 30px;
  padding: 1rem 3rem;
}

.prueba-gratis {
  margin-top: 6.5rem;
  margin-bottom: 30px;
  padding: 1rem 3rem;
}

.btn-card-highlight {
  color: #fff;
  background-color: #E02831;
  border: 1px solid #fff;
  margin-top: 4.4rem;
  padding: 1rem 3rem;
  transition: all .1s;
}

.btn-card-highlight:hover {
  color: #E02831;
  background-color: #ffffff;
  border: 1px solid #E02831;
  margin-top: 4.4rem;
  padding: 1rem 3rem;
}


.btn-card:hover {
  background: #f18e92;
  transition: 0.2s;
}

.plans h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3rem;
  color: #f5f5f5; 
  text-align: center;
  margin-top: 3rem;
}

.plans {
  background: #283846;;
  padding: 3rem;
  padding-bottom: 3rem;
}

.card {
  background-color: #fff;
  width: 300px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 500px;
}


.card h1 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  color: #EA575E;
  margin-top: 1rem;
}

.card p {
  font-size: 0.875rem;
  margin-bottom: 0.875rem;
}

.card hr {
  margin: 1.9rem auto; 
  border: 0;
  border-top: 1px solid #283846;
  width: 250px;
}

.card-highlight {
  background: linear-gradient(180deg, #EA575E 0%, #E02831 100%);
  padding: 3rem 1rem 0;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  height: 550px;
  margin-top: -2rem;
  z-index: 999;
  position: absolute;
}

.card-highlight h1 {
  color: #fff;
}

.card-highlight p {
  color: #fff;
}

.card-highlight hr {
  border-color: rgba(255, 255, 255, 0.5);
}

.cards {
  display: flex;
  justify-content: center;
  margin: 8rem 0 8rem 0;
}

.cards div:nth-child(1) {
  margin-right: 19rem;
}

footer {
  background: #202D38;
}

footer ul {
  display: flex;
  list-style: none;
  color: #fff;
}

footer ul li {
  text-decoration: none;
  
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Paytone One', sans-serif;
}

.functions {
  font-size: 2.25rem;
  font-family: 'Paytone One', sans-serif;
  margin: 2.25rem 0;
}

.functions a:nth-child(1) {
  margin-right: 3rem;
  margin-left: 1rem;
}

footer h1 {
  font-size: 3rem;
  margin: 2.25rem 1.5rem;
}

.redes-sociais {
  font-size: 0.75rem;
  font-family: 'Paytone One', sans-serif;
  margin: 2.75rem 2rem;
}

.redes-sociais li:nth-child(2) {
  margin-top: 0.4rem;
}

.cefalia-derechos p:nth-child(1) {
  font-size: 0.8rem;
  font-family: 'Paytone One', sans-serif;
}

.cefalia-derechos p:nth-child(2) {
  font-size: 0.5rem;
  font-family: 'Paytone One', sans-serif;
  margin-top: 0.4rem;
}

.cefalia-derechos {
  margin: 2.75rem 3rem;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-end {
  background-color: #192229;
  color: #fff;
  font-size: 0.7rem;
  padding: 1.2rem 0;
}

.footer-end p {
  font-family: 'Paytone One', sans-serif;
}

.footer-end a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }


@media (max-width: 600px) {
  header img {
    margin-bottom: 2rem;
    width: 120px;
    height: 41px;
  }

  header {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .container-mobile {
    margin: 0 auto;
    max-width: 100%;
  }

  .plans {
    width: 100%;
    padding: 2rem 0;
  }

  .plans h1 {
    line-height: 2.5rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 5rem 0;
  }

  div.cards {
    margin: 0; 
    margin: 5rem 2.9rem;
    display: flex;
    justify-content: center;
  }

  div.card {
    margin: 0!important;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }
  
  footer {
    width: 100%;
  }

  section.image {
    margin-top: 0.5rem;
  }
  
  .card h1 {
    padding-bottom: .1rem;
  }

  section.image img {
    width: 320px;
    padding: 0 1rem;
  }
  
  .call-to-action {
    display: flex;
    flex-direction: column;
  }  

  .card {
    background-color: #fff;
    width: 300px;
    text-align: center;
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    height: 500px;
  }  

  .info h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 350px;
    margin-left: 0.77rem;
  }

  .info p {
    text-align: center;
    font-size: 1.3rem;
    width: 350px;
    margin-left: 0.77rem;
  }

  .btn {
    margin: 5rem auto;
    padding: 1.3rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    display: block;
    transition: all .1s;
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
  }

  .btn-card-highlight {
    color: #fff;
    background-color: #E02831;
    border: 1px solid #fff;
    margin-top: 4.4rem;
    padding: 1rem 3rem;
    transition: all .1s;
  }

  .btn-card-highlight:hover {
    color: #E02831;
    background-color: #ffffff;
    border: 1px solid #E02831;
    margin-top: 4.4rem;
    padding: 1rem 3rem;
  }

  .btn1 {margin-left: 4.2rem;}

  .btn2 {margin-left: 1.2rem;}

  .btn3 {margin-left: 4.2rem;}

  header nav ul li a {
    font-size: 1.2rem;
  }
  
  .card-highlight {

    z-index: 1;
    position: relative;
  }

  .hide-mobile {
    display: none;
  }
  
  .hide-full {
    display: initial;
  }

  .mobile-redes-sociais {
    margin: 2rem 0;
    text-align: center;
    line-height: 5rem;
  }

  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .cefalia-derechos {
    text-align: center;
  }

  .cefalia-derechos p:nth-child(1) {
    font-size: 1.2rem;
    font-family: 'Paytone One', sans-serif;
  }
  
  .cefalia-derechos p:nth-child(2) {
    font-size: 0.9rem;
    font-family: 'Paytone One', sans-serif;
    margin-top: 0.4rem;
  }
  .functions {
    text-align: center;
  }

  .functions a:nth-child(1) {
    margin: 0;
  }

  section.footer-container.footer-end p {
    text-align: center;
    font-size: 0.8rem;
  }

  header img {
    margin-top: 1rem;
  }
}}