* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  background: #edf1f7;
  margin-bottom: 3rem;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #192038;
  margin-right: 32px;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 37px;
}

header img {
  margin-bottom: 10px;
}

.btn {
  display: block;
  padding: 8px 26px;
  text-align: center;
  background: #34b6f8;
  transition: all .1s;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}  
                    
.btn-large {
  padding: 1.5rem 4rem;
}  

.btn-full {
  border-radius: 0px 0px 3px 3px;
  width: 100%;
  padding: 1.5rem;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.btn:hover {
  background-color: #6bcafa;
}  


main {
  color: #E5E5E5;
}  

.container {
  margin: 0 auto;
  width: 1200px;
}  

h1.h1a {
  margin: 0;
}  

section.info article h1 {
  color: #192038;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}  

section.info article h2 {
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  color: #34b6f8;
}  

section.info article p {
  width: 70%;
  height: 160px;
  color: #6D788C;
}  

.call-to-action {
  display: flex;
  flex-direction: row;
}  

.plans {
  margin-top: 7rem;
  background-color: #F2F3F6;
}  

.plans h1 {
  padding-top: 40px;
  text-align: center;
  color: #192038;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 37px;
  margin-bottom: 4rem;
}  

.prices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4rem;
}

.card {
  width: 320px ;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}  

.card:nth-child(2):hover .mejor-costo {
  transform: scale(1.2);
}    

.card h2 {
  color: #34b6f8;
  font-size: 1.75rem;
  text-align: center;
}    

.item p {
  font-size: 0.875rem;
  line-height: 24px;
  color: #6D788C;
  margin-left: 50px;
}  

.item {
  display: flex; 
  margin: 0 auto;
  width: 260px;
}  

.mejor-costo {
  margin-top: -50px;
  margin-right: -25px;
  z-index: 1;
  position: absolute;
  right: 0;
  transition: all .2s;
}

footer {
  background-color: #E8E9ED;
  padding-bottom: 4.188rem;
}

footer ol {
  width: 100%;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #6D788C;
}

footer ol li {
  padding: 0;
  margin-top: 3.25rem;
  list-style: none;
}

footer ol li a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #6D788C;
}

.redes-sociais {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.twitter {
  transition: all .2s;
  margin-right: 1.25rem;
}

.instagram {
  transition: all .2s;
  margin-right: 1.25rem;
}

.facebook {
  transition: all .2s;
}

.twitter:hover {
  transform: scale(1.2);
}

.instagram:hover {
  transform: scale(1.2);
}

.facebook:hover {
  transform: scale(1.2);
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .call-to-action {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }  

  .call-to-action section:nth-child(1) {
    order: 2;
  }

  .call-to-action section:nth-child(2) {
    order: 1;
  }

  section.image {
    margin-top: 4rem;
    text-align: center;
  }

  section.image img {
    width: 80%;
  }

  section.info article {
    width: 100%;
    padding: 0 1rem;
  }  
  
  section.info article p {
    margin-top: 3rem;
    width: 100%;
  }  
  
  section.info div {
    text-align: center;
    margin-top: 6rem;
  }

  .btn.btn-large {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  .prices {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 4rem;
  }

  .card:nth-child(2):hover .mejor-costo {
    transform: scale(1.0);
  }    
  
}

@media (max-width: 600px) {
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  header img {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) { 
  .redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  footer ol {
    width: 100%;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #6D788C;
  }

  footer ol li a {
    text-decoration: none;
    font-size: 1rem;
    color: #6D788C;
  }
  
  .instagram {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}